.summary {
    width: 100%;
    height: 100%;
    padding: 30px;

    @include smallDevice {
        & {
            padding: 0;
        }
    }

    @include mobileSize {
        & { 
            padding: 0;
        }
    }

    .summary-body {
        width: 100%;
        height: 100%;
    }
}