$textColor : #454552;
$summaryColor : #99F19E;
$physicalExerciseHealthColor : #4EA1D3;
$communicationColor : #F6EA8C;
$socialRelationsColor : #E85A71;
$artExperienceColor : #A593E0;
$natureInquiryColor : #60C5BA;