$textColor : #454552;
$borderColor : #A7A7A2;
$wrongAnswerBorderColor : #FE4365;
$summaryColor : #99F19E;
$summaryDetailColor : #CFF0DA;
$physicalExerciseHealthColor : #4EA1D3;
$communicationColor : #F6EA8C;
$socialRelationsColor : #E85A71;
$socialRelationsDetailColor : #FEC9C9;
$artExperienceColor : #A593E0;
$natureInquiryColor : #60C5BA;