.answer-input {
    flex: 1;
    display: flex;
    padding-bottom: 12px;
    align-items: center;

    &:last-child {
        padding-bottom: 0;
    }

    .index-box {
        padding-right: 10px;


        .index {
            color: $textColor;
            font-size: 20px;
        }
    }

    .input-box {
        width: 100%;
        display: flex;
        align-items: center;
        border: 1px solid $borderColor;
        border-radius: 5px;

        &:hover {
            .reset-btn-box {
                .reset-btn {
                    display: inline;
                    @include viewResetButtonMixin();
                }
            }
        }

        .input {
            width: 100%;
            height: 40px;
            padding: 10px;
            border: none;
            font-size: 16px;
            color: $textColor;
            outline: none;
            background-color: transparent;
        }

        
        .reset-btn-box {
            width: 15px;
            height: 15px;
            margin-right: 10px;
            
            .reset-btn {
                width: 100%;
                height: 100%;
                display: none;
            }
        }
    }
    
    .fail-input {
        @include shakingBoxMixin();
        border: 1px solid $wrongAnswerBorderColor;
    }
}