.goal {
    display: flex;

    .titleBox {
        @include titleBox;

        .title {
            color: $textColor;
            text-align: center;
        }
    }

    .physical-exerciseHelth {
        background-color: $physicalExerciseHealthColor;
    }

    .physical-exerciseHelth-detail {

    }

    .communication {
        background-color: $communicationColor;
    }

    .communication-detail {

    }

    .social-relations {
        background-color: $socialRelationsColor;
    }

    .social-relations-detail {
        background-color: $socialRelationsDetailColor;
    }

    .art-experience {
        background-color: $artExperienceColor;
    }

    .art-experience-detail {

    }

    .nature-inquiry {
        background-color: $natureInquiryColor;
    }

    .nature-inquiry-detail {
        
    }

    .content-box {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;

        .content {
            color: $textColor;
        }
    }
}