.goal {
    display: flex;

    .titleBox {
        @include titleBox;
        font-weight: bold;

        .title {
            color: $textColor;
            text-align: center;
        }
    }

    .content-box {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
    }
}