.login {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include smallDevice {
        & {
            flex-direction: column;
            justify-content: center;
        }
    }
    
    .login-input-box {
        flex: 1;
        margin-top: 17px;
        margin-right: 15px;
        border: 1px solid $borderColor;
        display: flex;
        align-items: center;
        padding-right: 10px;

        @include smallDevice {
            & {
                flex: 0;
                margin-top: 0;
                margin-right: 0;
            }
        }
        
        &:hover .reset-button-box .reset-button {
            display: inline;
            @include viewResetButtonMixin();
        }

        .login-input {
            padding: 10px;
            font-size: 20px;
            outline: none;
            border: none;
        }
        
        .reset-button-box {
            width: 15px;
            height: 15px;
            
            .reset-button {
                display: none;
            }
        }
    }

    .login-fail {
        @include shakingBoxMixin();
        border : 1px solid $wrongAnswerBorderColor;
    }
}