.login {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .login-input-box {
        width: 290px;
        margin-top: 17px;
        margin-right: 15px;
        border: 1px solid $borderColor;
        
        &:hover .reset-button {
            display: inline;
            animation: viewResetButton 1s;
        }

        .login-input {
            padding: 10px;
            font-size: 20px;
            outline: none;
            border: none;
        }
        
        .reset-button {
            display: none;
        }
    }

    .login-fail {
        animation : shakingBox .5s;
        border : 1px solid $wrongAnswerBorderColor;
    }
}

@keyframes shakingBox {
    0% {
        transform: translateX(-10px);
    }

    20% {
        transform: translateX(10px);
    }

    40% {
        transform: translateX(-5px); 
    }

    60% {
        transform: translateX(5px); 
    }
    
    80% {
        transform: translateX(-2.5px);
    }

    100% {
        transform: translateX(2.5px);
    }
};

@keyframes viewResetButton {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
};